<div class="container text-center mt-4">
    <h1>Translate sentence </h1>
    <p>(use ë where needed)</p>

    <div class="container border border-primary bg-white rounded mt-5 p-3">
        <h2 class="bg-info">How are you?</h2>
        <div class="form-group mt-4">
            <input id="vocab-guess" class="form-control form-control-lg" type="vocab" placeholder="What's your guess?">
        </div>
        <a id="guess-submit" class="btn btn-primary">Check Anwser</a>
        <a id="reset-game" class="btn btn-secondary">Reset</a>
    </div>
    

    <div id="result">
    </div>

    <div id="guesses">
    </div>
</div>
