<div class="container text-center mt-4">
    <%= link_to 'Add Vocab', vocab_new_path, class: "btn btn-warning" %>

    <h1 class="banner p-3">Translate sentence </h1>
    <p>(use ë where needed)</p>

    <div class="container shadow-lg bg-white rounded mt-5 p-4">
        <h2 id="sentence" class="bg-light shadow py-3">
        </h2>
        <div class="form-group mt-4">
            <input id="vocab-guess" class="form-control form-control-lg" type="vocab" placeholder="What's your guess?">
        </div>

        <a id="guess-submit" class="btn btn-primary">Check Anwser</a>
        <a id="reset-game" class="btn btn-secondary">Next</a>
    </div>
    

    <div id="result" class="mt-4">
    </div>

    <div id="history" class="mt-4">
    </div>
</div>
